#!/bin/bash -e
# Config module for pppwatch
#
# Copyright Malcolm Scott 2005
# All rights are reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of version 2 of the GNU General Public License as
# published by the Free Software Foundation.
#

. /usr/share/debconf/confmodule

db_version 2.0
db_title libapache2-mod-ucam-webauth

db_input high libapache2-mod-ucam-webauth/serverdescr || true
db_go

